# Bibliotecas

In [1]:
pip install --quiet pandera

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import pandera as pa
import locale
import numpy as np

In [3]:
pip install --quiet openpyxl

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [4]:
from datetime import datetime

# Importação de dados

In [15]:
df1 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2021/Planilha_19112021_182835.xlsx')
df2 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2021/Planilha_19112021_182904.xlsx')
df3 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2021/Planilha_19112021_182926.xlsx')
df4 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2021/Planilha_19112021_182941.xlsx')
df5 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2021/Planilha_19112021_182956.xlsx')
df6 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2021/Planilha_19112021_183016.xlsx')
df7 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2021/Planilha_27112021_081425.xlsx')
df8 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2021/Planilha_19112021_183043.xlsx')
df9 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2020/Planilha_19112021_183356.xlsx')
df10 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2020/Planilha_19112021_183426.xlsx')
df11 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2020/Planilha_19112021_183444.xlsx')
df12 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2020/Planilha_19112021_183524.xlsx')
df13 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2020/Planilha_19112021_183541.xlsx')
df14 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2020/Planilha_19112021_183558.xlsx')
df15 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2020/Planilha_19112021_183612.xlsx')
df16 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2020/Planilha_19112021_183627.xlsx')
df17 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2020/Planilha_19112021_183640.xlsx')
df18 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2020/Planilha_19112021_183653.xlsx')
df19 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2020/Planilha_19112021_183708.xlsx')
df20 = pd.read_excel('gs://projeto_final_2021/entrada/RJ/2020/Planilha_19112021_183738.xlsx')

/opt/conda/miniconda3/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [16]:
df7.head(2)

,Matrícula,Nome,Data Admissão,Cargo,Unidade,Local de Trabalho,Número do ATO,Data Publicação,Concursado,Comissionado,...,Vencimento Bruto,Desconto de Imposto (IR),Desconto Previdenciário,Outros Descontos,Vencimento Líquido,Mês,ANO,Tipo de Folha,Regime,Contratado
0,82325,ABEIGAIR DE ALENCAR BORGES,15/01/2009,ENFERMEIRO - ESF,SMS - ESF - ESTRATÉGIA DE SAÚDE DA FAMÍLIA,Prefeitura Municipal de Miguel Pereira,0655,10/06/2017,Não,Não,...,7894.85,1042.88,687.20,491.93,5672.84,2,2021,1 - Normal,Estatutário,Não
1,80550,ADAIL JULIO DO NASCIMENTO,23/09/2006,GUARDA MUNICIPAL,SMSEG - SM DE SEGURANÇA,Prefeitura Municipal de Miguel Pereira,0252,23/09/2006,Não,Não,...,8611.03,352.24,281.79,225.50,7751.50,2,2021,1 - Normal,Estatutário,Não

# Concatenação de dados

In [17]:
df= pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16,df17,df18,df19,df20], axis=0, ignore_index=True)

In [18]:
df.head(2)

,Matrícula,Nome,Data Admissão,Cargo,Unidade,Local de Trabalho,Número do ATO,Data Publicação,Concursado,Comissionado,...,Vencimento Bruto,Desconto de Imposto (IR),Desconto Previdenciário,Outros Descontos,Vencimento Líquido,Mês,ANO,Tipo de Folha,Regime,Contratado
0,82325,ABEIGAIR DE ALENCAR BORGES,15/01/2009,ENFERMEIRO - ESF,SMS - ESF - ESTRATÉGIA DE SAÚDE DA FAMÍLIA,Prefeitura Municipal de Miguel Pereira,0655,10/06/2017,Não,Não,...,5975.91,515.17,687.20,491.93,4281.61,8,2021,1 - Normal,Estatutário,Não
1,80550,ADAIL JULIO DO NASCIMENTO,23/09/2006,GUARDA MUNICIPAL,SMSEG - SM DE SEGURANÇA,Prefeitura Municipal de Miguel Pereira,0252,23/09/2006,Não,Não,...,4857.34,336.21,281.79,225.50,4013.84,8,2021,1 - Normal,Estatutário,Não

# Backup do dataframe

In [19]:
backup_df = df.copy()

# Verificar tipos de dados e dados nulos

In [20]:
df.dtypes

Matrícula                     int64
Nome                         object
Data Admissão                object
Cargo                        object
Unidade                      object
Local de Trabalho            object
Número do ATO                object
Data Publicação              object
Concursado                   object
Comissionado                 object
Função de Confiança          object
Vencimento Bruto            float64
Desconto de Imposto (IR)    float64
Desconto Previdenciário     float64
Outros Descontos            float64
Vencimento Líquido          float64
Mês                           int64
ANO                           int64
Tipo de Folha                object
Regime                       object
Contratado                   object
dtype: object

In [21]:
df.isna().sum() #Retorna o total de vazios em cada coluna

Matrícula                       0
Nome                            0
Data Admissão                   0
Cargo                           0
Unidade                         0
Local de Trabalho               0
Número do ATO                9846
Data Publicação             10140
Concursado                      0
Comissionado                    0
Função de Confiança             0
Vencimento Bruto                0
Desconto de Imposto (IR)        0
Desconto Previdenciário         0
Outros Descontos                0
Vencimento Líquido              0
Mês                             0
ANO                             0
Tipo de Folha                   0
Regime                          0
Contratado                      0
dtype: int64

In [22]:
df.isnull().sum()

Matrícula                       0
Nome                            0
Data Admissão                   0
Cargo                           0
Unidade                         0
Local de Trabalho               0
Número do ATO                9846
Data Publicação             10140
Concursado                      0
Comissionado                    0
Função de Confiança             0
Vencimento Bruto                0
Desconto de Imposto (IR)        0
Desconto Previdenciário         0
Outros Descontos                0
Vencimento Líquido              0
Mês                             0
ANO                             0
Tipo de Folha                   0
Regime                          0
Contratado                      0
dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32333 entries, 0 to 32332
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Matrícula                 32333 non-null  int64
 1   Nome                      32333 non-null  object
 2   Data Admissão             32333 non-null  object
 3   Cargo                     32333 non-null  object
 4   Unidade                   32333 non-null  object
 5   Local de Trabalho         32333 non-null  object
 6   Número do ATO             22487 non-null  object
 7   Data Publicação           22193 non-null  object
 8   Concursado                32333 non-null  object
 9   Comissionado              32333 non-null  object
 10  Função de Confiança       32333 non-null  object
 11  Vencimento Bruto          32333 non-null  float64
 12  Desconto de Imposto (IR)  32333 non-null  float64
 13  Desconto Previdenciário   32333 non-null  float64
 14  Outros Descontos          32333 non-null  float64
 15  Vencimento Líquido        32333 non-null  float64
 16  Mês                       32333 non-null  int64
 17  ANO                       32333 non-null  int64
 18  Tipo de Folha             32333 non-null  object
 19  Regime                    32333 non-null  object
 20  Contratado                32333 non-null  object
dtypes: float64(5), int64(3), object(13)
memory usage: 5.2+ MB

# Inclusão de coluna

In [ ]:
df['Estado'] = 'RJ'

# Inconsistências 

Matrícula                     int64
Data Admissão                object
Data Publicação              object
Vencimento Bruto            float64
Desconto de Imposto (IR)    float64
Desconto Previdenciário     float64
Outros Descontos            float64
Vencimento Líquido          float64
Mês                         float64
ANO                         float64

In [ ]:
#Trocar para consumir menos espaço



df['Data Admissão'] = pd.to_datetime(df['Data Admissão'])
df['Data Publicação'] = pd.to_datetime(df['Data Publicação'])
df["Matrícula"] = pd.to_numeric(df["Matrícula"])
df["Vencimento Bruto"] = pd.to_numeric(df["Vencimento Bruto"])
df["Desconto de Imposto (IR)"] = pd.to_numeric(df["Desconto de Imposto (IR)"])
df["Desconto Previdenciário"] = pd.to_numeric(df["Desconto Previdenciário"])
df["Vencimento Líquido"] = pd.to_numeric(df["Vencimento Líquido"])
df["Outros Descontos"] = pd.to_numeric(df["Outros Descontos"])
df['Mês'] = df['Mês'].astype(int)
df['ANO'] = df['ANO'].astype(int)

In [ ]:
# confirmar a mudança
df.dtypes

In [ ]:
df.head(5)

In [ ]:
df.dtypes

# Pandera

In [ ]:
schema = pa.DataFrameSchema(
    columns = {
        "Matrícula":pa.Column(pa.Int),
        "Nome":pa.Column(pa.String,pa.Check.str_length(0,150), nullable=True),
        "Data Admissão":pa.Column(pa.DateTime, nullable=True),
        "Cargo":pa.Column(pa.String,pa.Check.str_length(0,150), nullable=True),  
        "Unidade":pa.Column(pa.String,pa.Check.str_length(0,100), nullable=True),
        "Local de Trabalho":pa.Column(pa.String,pa.Check.str_length(0,100), nullable=True),
        "Número do ATO":pa.Column(pa.String,pa.Check.str_length(0,20), nullable=True),
        "Data Publicação":pa.Column(pa.DateTime, nullable=True),
        "Concursado":pa.Column(pa.String,pa.Check.str_length(0,5), nullable=True),
        "Comissionado":pa.Column(pa.String,pa.Check.str_length(0,5), nullable=True),
        "Função de Confiança":pa.Column(pa.String,pa.Check.str_length(0,5), nullable=True),
        "Vencimento Bruto":pa.Column(pa.Float, nullable=True),
        "Desconto de Imposto (IR)":pa.Column(pa.Float, nullable=True),
        "Desconto Previdenciário":pa.Column(pa.Float, nullable=True),
        "Outros Descontos":pa.Column(pa.Float, nullable=True),
        "Vencimento Líquido":pa.Column(pa.Float, nullable=True),
        "Mês":pa.Column(pa.Int),
        "ANO":pa.Column(pa.Int),
        "Tipo de Folha":pa.Column(pa.String,pa.Check.str_length(0,50), nullable=True),
        "Regime":pa.Column(pa.String,pa.Check.str_length(0,50), nullable=True),
        "Contratado":pa.Column(pa.String,pa.Check.str_length(0,5), nullable=True),
        "Estado":pa.Column(pa.String,pa.Check.str_length(0,2), nullable=True)
     
    }
    
)

In [ ]:
schema.validate(df)

In [ ]:
"""
df_obj = df.select_dtypes(include=['object']).copy()
df_obj.describe()
# Instanciando um novo DF
converted_obj = pd.DataFrame()
# Iterar em cada coluna no DF de dtype = OBJECT
for col in df_obj.columns:
    # Contar numero de valores unicos
    num_unique_values = len(df_obj[col].unique())
    # Contar o numero total de valores
    num_total_values = len(df_obj[col])
    # Se os valores unicos forem menores que 50% do total...
    if num_unique_values / num_total_values < 0.5:
        converted_obj.loc[:,col] = df_obj[col].astype('category')
    # Se nao foram perm

print(mem_usage(df_obj))
print(mem_usage(converted_obj))
compare_obj = pd.concat([df_obj.dtypes,converted_obj.dtypes],axis=1)
compare_obj.columns = ['before','after']
compare_obj.apply(pd.Series.value_counts)

"""

## Otimizar espaço

In [ ]:
#Trocar para consumir menos espaço



df['Data Admissão'] = pd.to_datetime(df['Data Admissão'])
df['Data Publicação'] = pd.to_datetime(df['Data Publicação'])
df["Matrícula"] = pd.to_numeric(df["Matrícula"], downcast='unsigned')
df["Vencimento Bruto"] = pd.to_numeric(df["Vencimento Bruto"], downcast='float')
df["Desconto de Imposto (IR)"] = pd.to_numeric(df["Desconto de Imposto (IR)"], downcast='float')
df["Desconto Previdenciário"] = pd.to_numeric(df["Desconto Previdenciário"], downcast='float')
df["Vencimento Líquido"] = pd.to_numeric(df["Vencimento Líquido"], downcast='float')
df["Outros Descontos"] = pd.to_numeric(df["Outros Descontos"], downcast='float')
df["Mês"] = pd.to_numeric(df["Mês"], downcast='unsigned')
df["ANO"] = pd.to_numeric(df["ANO"], downcast='unsigned')