# INSTALAÇÃO DO PANDERA

In [1]:
pip install pandera

Requirement already satisfied: pandera in /opt/conda/lib/python3.7/site-packages (0.8.0)
Requirement already satisfied: wrapt in /opt/conda/lib/python3.7/site-packages (from pandera) (1.13.3)
Requirement already satisfied: typing-inspect>=0.6.0 in /opt/conda/lib/python3.7/site-packages (from pandera) (0.7.1)
Requirement already satisfied: numpy>=1.9.0 in /opt/conda/lib/python3.7/site-packages (from pandera) (1.19.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /opt/conda/lib/python3.7/site-packages (from pandera) (3.10.0.2)
Requirement already satisfied: pyarrow in /opt/conda/lib/python3.7/site-packages (from pandera) (6.0.0)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.7/site-packages (from pandera) (21.0)
Requirement already satisfied: pandas-stubs in /opt/conda/lib/python3.7/site-packages (from pandera) (1.2.0.38)
Requirement already satisfied: pandas>=1.0 in /opt/conda/lib/python3.7/site-packages (from pandera) (1.3.4)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from packaging>=20.0->pandera) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=1.0->pandera) (2021.3)
Requirement already satisfied: mypy-extensions>=0.3.0 in /opt/conda/lib/python3.7/site-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# IMPORTAÇÃO BIBLIOTECAS

In [2]:
import pandas as pd
import pandera as pa

# IMPORTAÇÃO DE TABELAS DE SP DOS ANOS DE 2020 E 2021

  ## PRIMEIRA TABELA
  
 No arquivo de Excel de SP, do ano de 2020, foi verificado que não havia uma tabela geral como no arquivo do ano de 2021. Para dar continuidade é preciso concatenar as tabelas de cada aba deste arquivo excel.

In [3]:
#CAMINHO DO ARQUIVO
xls = pd.ExcelFile('gs://projeto_final_2021/entrada/SP/folhas-de-pagamento-da-administracao-indireta-2020.xlsx')

#CRIAÇÃO DO DATAFRAME
df = pd.DataFrame()

#CONCATENAÇÃO DE TODAS AS TABELAS (ANO DE 2020) POR MEIO DE UM LOOP
for i in range(0,20):
    tabela = pd.read_excel(xls, sheet_name=i)
    df = pd.concat([df, tabela], axis=0, ignore_index=True)

#COM SHEET_NAME FOI POSSÍVEL CHAMAR CADA ABA DO EXCEL POR MEIO DE ÍNDICES
#AXIS = 0 INDICA QUE A CONCATENAÇÃO SERÁ FEITA PELO EIXO X (LINHAS)

  ## SEGUNDA TABELA
  
 Neste arquivo de Excel de SP do ano de 2021, como mencionado anteriormente, há um arquivo geral para ser selecionado entre algumas das abas presente no arquivo.

In [4]:
#CAMINHO DO ARQUIVO
xls2 = pd.ExcelFile('gs://projeto_final_2021/entrada/SP/entes-unificadosateagosto2021.xlsx')

#TABELA (ANO DE 2021) PARA DATAFRAME
df2 = pd.read_excel(xls2, sheet_name=0)

# CONCATENAÇÃO DE TABELAS DOS ANOS 2020 E 2021

 ## INCONSISTÊNCIA ENCONTRADA

Foi observado que há "espaço" antes do no nome de algumas das colunas no df2. Isso será solucionado alterando o nome de cada uma dessas colunas. Primeiro foi preciso tratar destas inconsistências antes de dar procedimento.

In [5]:
#COMPARANDO NOME DAS COLUNAS
#df.dtypes
df2.dtypes

 EMPRESA                 object
 MÊS                      int64
 ANO                      int64
 NOME                    object
 CARGO                   object
 LOTAÇÃO                 object
ADMISSÃO                 object
 NASCIMENTO             float64
 VENCIMENTOS             object
 ENCARGOS                object
 BENEFÍCIOS              object
 OUTRAS REMUNERAÇÕES     object
VÍNCULO                  object
DETALHE VÍNCULO          object
LIMINAR                  object
Unnamed: 15              object
dtype: object

In [6]:
#ELIMINANDO INCONSISTÊNCIAS NO NOME DAS COLUNAS
df2.rename(columns={
    ' EMPRESA':'EMPRESA',
    ' MÊS':'MÊS',
    ' ANO':'ANO',
    ' NOME':'NOME',
    ' CARGO':'CARGO',
    ' LOTAÇÃO':'LOTAÇÃO',
    ' NASCIMENTO':'NASCIMENTO',
    ' VENCIMENTOS':'VENCIMENTOS',
    ' ENCARGOS':'ENCARGOS',
    ' BENEFÍCIOS':'BENEFÍCIOS',
    ' OUTRAS REMUNERAÇÕES':'OUTRAS REMUNERAÇÕES'
}, inplace=True)

 ## CONCATENAÇÃO

In [7]:
df_tds = pd.concat([df,df2], axis=0, ignore_index=True)

In [8]:
df_tds

,EMPRESA,MÊS,ANO,NOME,CARGO,LOTAÇÃO,ADMISSÃO,NASCIMENTO,VENCIMENTOS,ENCARGOS,BENEFÍCIOS,OUTRAS REMUNERAÇÕES,VÍNCULO,DETALHE VÍNCULO,LIMINAR,Unnamed: 15
0,ADESAMPA,1,2020,ALESSANDRA SERAPOMBA A. BRAYN,Sup. Adm Financeiro,SEDE,2019-02-06 00:00:00,1974.0,5964.83,2656.28,625.01,0,CLT: contrato por tempo indeterminado,Não concursado ocupante de cargo em comissão,-,NaN
1,ADESAMPA,1,2020,ALINE DIAS MARTINS,Analista I,SEDE,2018-04-02 00:00:00,1987.0,4906.81,2152.8,777.26,0,CLT: contrato por tempo indeterminado,Não concursado NÃO ocupante de cargo em comissão,-,NaN
2,ADESAMPA,1,2020,ANA MARIA M. CAIRES,Gestor(a) de Recursos Humanos,SEDE,2016-03-14 00:00:00,1961.0,4439.44,2466.83,974.68,0,CLT: contrato por tempo indeterminado,Não concursado NÃO ocupante de cargo em comissão,-,NaN
3,ADESAMPA,1,2020,ANA PAULA DE BARROS RODRIGUES,Sup. Relações Institucionais,SEDE,2019-02-04 00:00:00,1982.0,10613.94,4843.8,946.25,0,CLT: contrato por tempo indeterminado,Não concursado ocupante de cargo em comissão,-,NaN
4,ADESAMPA,1,2020,ARMANDO DE ALMEIDA P.JUNIOR,Assessor III,SEDE,2018-08-01 00:00:00,1982.0,8027.08,3588,772.73,0,CLT: contrato por tempo indeterminado,Não concursado ocupante de cargo em comissão,-,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491432,TMSP,8,2021,RICARDO MASSAHAKU FUKUDA,PROFESSOR DE ORQUESTRA,Diretoria de Formação,2013-05-17 00:00:00,1963.0,0,0,431.86,0,Servidor público cedido por outro ente: Servid...,Concursado NÃO ocupante de cargo em comissão,-,NaN
491433,TMSP,8,2021,ROBERTO ALVES RODRIGUES DE ARAUJO,PROFESSOR DE ORQUESTRA,Diretoria de Formação,2013-05-17 00:00:00,1964.0,0,0,431.86,0,Servidor público cedido por outro ente: Servid...,Concursado NÃO ocupante de cargo em comissão,-,NaN
491434,TMSP,8,2021,SAMANTHA VALENCIO,ASSESSOR TECNICO,Gabinete do Diretor,2021-04-07 00:00:00,1983.0,880.74,0,979.76,0,Servidor público cedido por outro ente: Servid...,Não concursado ocupante de cargo em comissão,-,NaN
491435,TMSP,8,2021,VIVIANE BITTENCOURT,SUPERVISOR TECNICO II,Supervisão de Recursos Humanos,2017-10-26 00:00:00,1974.0,876.64,0,938.7,0,Servidor público cedido por outro ente: Servid...,Não concursado ocupante de cargo em comissão,-,NaN
491436,TMSP,8,2021,YARA GONCALVES DE MELO,ASS. GESTÃO POLÍTICAS PÚBLICAS,Diretoria de Formação,2018-04-09 00:00:00,1970.0,256.68,0,1000.3,0,Servidor público cedido por outro ente: Servid...,Concursado NÃO ocupante de cargo em comissão,-,NaN

# LIMPEZA

## COLUNA IMPREVISTA

Não era prevista a existência da coluna "Unnamed: 15", por essa razão será descartada.

In [9]:
df_tds.drop('Unnamed: 15', axis=1, inplace=True)

## VERIFICANDO INCONSISTÊNCIAS NOS DADOS

Por conta de divergências no data frame foi necessário que o tipo de dado de todas as colunas fossem convertidos em string para então serem tratados.

In [10]:
df_tds = df_tds.astype(str)

In [11]:
#VERIFICAÇÃO DE DADOS NULOS NO DF
df_tds.isna().sum()

EMPRESA                0
MÊS                    0
ANO                    0
NOME                   0
CARGO                  0
LOTAÇÃO                0
ADMISSÃO               0
NASCIMENTO             0
VENCIMENTOS            0
ENCARGOS               0
BENEFÍCIOS             0
OUTRAS REMUNERAÇÕES    0
VÍNCULO                0
DETALHE VÍNCULO        0
LIMINAR                0
dtype: int64

Nesta etapa do processo é preciso ser feito a análise dos dados de todas as colunas presentes no DF

In [12]:
sorted(pd.unique(df_tds['NASCIMENTO']))
#pd.unique(df_tds['NASCIMENTO'])

['1900.0',
 '1929.0',
 '1931.0',
 '1933.0',
 '1934.0',
 '1935.0',
 '1936.0',
 '1937.0',
 '1938.0',
 '1939.0',
 '1940.0',
 '1941.0',
 '1942.0',
 '1943.0',
 '1944.0',
 '1945.0',
 '1946.0',
 '1947.0',
 '1948.0',
 '1949.0',
 '1950.0',
 '1951.0',
 '1952.0',
 '1953.0',
 '1954.0',
 '1955.0',
 '1956.0',
 '1957.0',
 '1958.0',
 '1959.0',
 '1960.0',
 '1961.0',
 '1962.0',
 '1963.0',
 '1964.0',
 '1965.0',
 '1966.0',
 '1967.0',
 '1968.0',
 '1969.0',
 '1970.0',
 '1971.0',
 '1972.0',
 '1973.0',
 '1974.0',
 '1975.0',
 '1976.0',
 '1977.0',
 '1978.0',
 '1979.0',
 '1980.0',
 '1981.0',
 '1982.0',
 '1983.0',
 '1984.0',
 '1985.0',
 '1986.0',
 '1987.0',
 '1988.0',
 '1989.0',
 '1990.0',
 '1991.0',
 '1992.0',
 '1993.0',
 '1994.0',
 '1995.0',
 '1996.0',
 '1997.0',
 '1998.0',
 '1999.0',
 '2000.0',
 '2001.0',
 '2002.0',
 '2003.0',
 '2004.0',
 '2019.0',
 'nan']

## SOLUCIONANDO INCONSISTÊNCIAS

**INCONSISTÊNCIAS ENCONTRADAS:**

NOME: ' FABIANA MARTINS CORREA', '-'

CARGO: '-', '-PROFESSOR DE ENSINO TECNICO - NIVEL I'

ADMISSÃO: somente ano de 2021 com dados inteiros '43950'

NASCIMENTO: dados como float, 'nan'

VENCIMENTOS: números com casas decimais separadas por vírgula, diversos zeros e negativos,' R$-', ' R$-   ', '-R$9,75', '0', '-0.22' 

ENCARGOS: ' R$-', ' R$-   ', '-1', '-R$2.980,65', '0'

BENEFÍCIOS: ' R$-   ', '-0.01', '-1002.63', '-R$272,65', '0'

OUTRAS REMUNERAÇÕES: ' ', ' R$-   ', '-1192.29', '-397.43', '0', '0.03'

VÍNCULO: 'nan'

DETALHE VÍNCULO: 'nan'

LIMINAR: '-','[nome e vencimentos ocultos por liminar]', '[nome oculto por liminar]', '[vencimentos oculto por liminar]', 'nan'

### NOME

Foi observado que havia espaço em apenas um nome nesta coluna, que foi solucionado da seguinte maneira:

In [13]:
df_tds.NOME.replace(' FABIANA MARTINS CORREA', 'FABIANA MARTINS CORREA', inplace=True)

### CARGO

Foi observado que havia somente um caso de hífen no início de um cargo nesta coluna, que foi solucionado da seguinte maneira:

In [14]:
df_tds.CARGO.replace('-PROFESSOR DE ENSINO TECNICO - NIVEL I', 'PROFESSOR DE ENSINO TECNICO - NIVEL I', inplace=True)

### ADMISSÃO

In [15]:
df_tds.loc[df_tds.ANO == "2021", ['ADMISSÃO']] = pd.NA

### NASCIMENTO

ESCREVER

In [16]:
df_tds["NASCIMENTO"] = [f[:4] for f in df_tds.loc[:,'NASCIMENTO']]
df_tds["NASCIMENTO"] = df_tds["NASCIMENTO"].map(lambda x: x.replace("nan","0"))

### VENCIMENTOS

ESCREVER

In [17]:
df_tds["VENCIMENTOS"] = [f.strip("R\$").strip("-R\$").strip(" R\$-").strip(" R\$-   ").strip(" ") for f in df_tds.loc[:,'VENCIMENTOS']]
df_tds["VENCIMENTOS"] = df_tds["VENCIMENTOS"].map(lambda x: x if not "," in x else x.replace(".","").replace(",","."))

### ENCARGOS

ESCREVER

In [18]:
df_tds["ENCARGOS"] = [f.strip("R\$").strip("-R\$").strip(" R\$-").strip(" R\$-   ").strip(" ") for f in df_tds.loc[:,'ENCARGOS']]
df_tds["ENCARGOS"] = df_tds["ENCARGOS"].map(lambda x: x if not "," in x else x.replace(".","").replace(",","."))

### BENEFÍCIOS

ESCREVER

In [19]:
df_tds["BENEFÍCIOS"] = [f.strip("R\$").strip("-R\$").strip(" R\$-").strip(" R\$-   ").strip(" ") for f in df_tds.loc[:,'BENEFÍCIOS']]
df_tds["BENEFÍCIOS"] = df_tds["BENEFÍCIOS"].map(lambda x: x if not "," in x else x.replace(".","").replace(",","."))

### OUTRAS REMUNERAÇÕES

ESCREVER

In [20]:
df_tds["OUTRAS REMUNERAÇÕES"] = [f.strip("R\$").strip("-R\$").strip(" R\$-").strip(" R\$-   ").strip(" ") for f in df_tds.loc[:,'OUTRAS REMUNERAÇÕES']]
df_tds["OUTRAS REMUNERAÇÕES"] = df_tds["OUTRAS REMUNERAÇÕES"].map(lambda x: x if not "," in x else x.replace(".","").replace(",","."))

### LIMINAR

ESCREVER

In [21]:
df_tds["LIMINAR"] = [f.strip("[").strip("]") for f in df_tds.loc[:,'LIMINAR']]

### TRANFORMANDO "-", "nan", "", " " EM DADOS NULOS

In [22]:
df_tds.replace(['-','nan','',' '], pd.NA, inplace=True)

# TRANSFORMAÇÃO DE DADOS

In [23]:
df_tds.dtypes

EMPRESA                object
MÊS                    object
ANO                    object
NOME                   object
CARGO                  object
LOTAÇÃO                object
ADMISSÃO               object
NASCIMENTO             object
VENCIMENTOS            object
ENCARGOS               object
BENEFÍCIOS             object
OUTRAS REMUNERAÇÕES    object
VÍNCULO                object
DETALHE VÍNCULO        object
LIMINAR                object
dtype: object

In [24]:
#TRANSFORMAR COLUNAS PARA INT
colunas_int = ["MÊS","ANO","NASCIMENTO"]

for C in colunas_int:
    df_tds[C] = pd.to_numeric(df_tds[C])
    
#COLUNAS PARA FLOAT
colunas_float = ["VENCIMENTOS","ENCARGOS","BENEFÍCIOS","OUTRAS REMUNERAÇÕES"]

for C in colunas_float:
    df_tds[C] = pd.to_numeric(df_tds[C])

#COLUNA PARA DATATIME
df_tds["ADMISSÃO"] = pd.to_datetime(df_tds["ADMISSÃO"])

In [25]:
df_tds.dtypes

EMPRESA                        object
MÊS                             int64
ANO                             int64
NOME                           object
CARGO                          object
LOTAÇÃO                        object
ADMISSÃO               datetime64[ns]
NASCIMENTO                      int64
VENCIMENTOS                   float64
ENCARGOS                      float64
BENEFÍCIOS                    float64
OUTRAS REMUNERAÇÕES           float64
VÍNCULO                        object
DETALHE VÍNCULO                object
LIMINAR                        object
dtype: object

# PANDERA

In [26]:
schema = pa.DataFrameSchema(
    columns = {
        "EMPRESA":pa.Column(pa.String,pa.Check.str_length(2,15)),
        "MÊS":pa.Column(pa.Int),
        "ANO":pa.Column(pa.Int),
        "NOME":pa.Column(pa.String,pa.Check.str_length(0,150), nullable=True),
        "CARGO":pa.Column(pa.String,pa.Check.str_length(0,100), nullable=True),
        "LOTAÇÃO":pa.Column(pa.String,pa.Check.str_length(0,100), nullable=True),
        "ADMISSÃO":pa.Column(pa.DateTime, nullable=True),
        "NASCIMENTO":pa.Column(pa.Int, nullable=True),
        "VENCIMENTOS":pa.Column(pa.Float, nullable=True),
        "ENCARGOS":pa.Column(pa.Float, nullable=True),
        "BENEFÍCIOS":pa.Column(pa.Float, nullable=True),
        "OUTRAS REMUNERAÇÕES":pa.Column(pa.Float, nullable=True),
        "VÍNCULO":pa.Column(pa.String,pa.Check.str_length(0,100), nullable=True),
        "DETALHE VÍNCULO":pa.Column(pa.String,pa.Check.str_length(0,100), nullable=True),
        "LIMINAR":pa.Column(pa.String,pa.Check.str_length(0,100), nullable=True)
    }
)

In [27]:
schema.validate(df_tds)

,EMPRESA,MÊS,ANO,NOME,CARGO,LOTAÇÃO,ADMISSÃO,NASCIMENTO,VENCIMENTOS,ENCARGOS,BENEFÍCIOS,OUTRAS REMUNERAÇÕES,VÍNCULO,DETALHE VÍNCULO,LIMINAR
0,ADESAMPA,1,2020,ALESSANDRA SERAPOMBA A. BRAYN,Sup. Adm Financeiro,SEDE,2019-02-06,1974,5964.83,2656.28,625.01,0.0,CLT: contrato por tempo indeterminado,Não concursado ocupante de cargo em comissão,<NA>
1,ADESAMPA,1,2020,ALINE DIAS MARTINS,Analista I,SEDE,2018-04-02,1987,4906.81,2152.80,777.26,0.0,CLT: contrato por tempo indeterminado,Não concursado NÃO ocupante de cargo em comissão,<NA>
2,ADESAMPA,1,2020,ANA MARIA M. CAIRES,Gestor(a) de Recursos Humanos,SEDE,2016-03-14,1961,4439.44,2466.83,974.68,0.0,CLT: contrato por tempo indeterminado,Não concursado NÃO ocupante de cargo em comissão,<NA>
3,ADESAMPA,1,2020,ANA PAULA DE BARROS RODRIGUES,Sup. Relações Institucionais,SEDE,2019-02-04,1982,10613.94,4843.80,946.25,0.0,CLT: contrato por tempo indeterminado,Não concursado ocupante de cargo em comissão,<NA>
4,ADESAMPA,1,2020,ARMANDO DE ALMEIDA P.JUNIOR,Assessor III,SEDE,2018-08-01,1982,8027.08,3588.00,772.73,0.0,CLT: contrato por tempo indeterminado,Não concursado ocupante de cargo em comissão,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491432,TMSP,8,2021,RICARDO MASSAHAKU FUKUDA,PROFESSOR DE ORQUESTRA,Diretoria de Formação,NaT,1963,0.00,0.00,431.86,0.0,Servidor público cedido por outro ente: Servid...,Concursado NÃO ocupante de cargo em comissão,<NA>
491433,TMSP,8,2021,ROBERTO ALVES RODRIGUES DE ARAUJO,PROFESSOR DE ORQUESTRA,Diretoria de Formação,NaT,1964,0.00,0.00,431.86,0.0,Servidor público cedido por outro ente: Servid...,Concursado NÃO ocupante de cargo em comissão,<NA>
491434,TMSP,8,2021,SAMANTHA VALENCIO,ASSESSOR TECNICO,Gabinete do Diretor,NaT,1983,880.74,0.00,979.76,0.0,Servidor público cedido por outro ente: Servid...,Não concursado ocupante de cargo em comissão,<NA>
491435,TMSP,8,2021,VIVIANE BITTENCOURT,SUPERVISOR TECNICO II,Supervisão de Recursos Humanos,NaT,1974,876.64,0.00,938.70,0.0,Servidor público cedido por outro ente: Servid...,Não concursado ocupante de cargo em comissão,<NA>
491436,TMSP,8,2021,YARA GONCALVES DE MELO,ASS. GESTÃO POLÍTICAS PÚBLICAS,Diretoria de Formação,NaT,1970,256.68,0.00,1000.30,0.0,Servidor público cedido por outro ente: Servid...,Concursado NÃO ocupante de cargo em comissão,<NA>

# OTIMIZAÇÃO DE MEMÓRIA

In [33]:
df_obj = df_tds.select_dtypes('object')

In [ ]:
# Instanciando um novo DF
converted_obj = pd.DataFrame()
# Iterar em cada coluna no DF de dtype = OBJECT
for col in df_obj.columns:
    # Contar numero de valores unicos
    num_unique_values = len(df_obj[col].unique())
    # Contar o numero total de valores
    num_total_values = len(df_obj[col])
    # Se os valores unicos forem menores que 50% do total...
    if num_unique_values / num_total_values < 0.5:
        converted_obj.loc[:,col] = df_obj[col].astype('category')
    # Se nao forem, permanecem os mesmos.

In [31]:
#OTIMIZAR COLUNAS STR
colunas_str = ["EMPRESA","NOME","CARGO","LOTAÇÃO","VÍNCULO","DETALHE VÍNCULO","LIMINAR"]

for C in colunas_int:
    df_tds[C] = pd.to_numeric(df_tds[C], downcast='unsigned')

#OTIMIZAR COLUNAS INT
colunas_int = ["MÊS","ANO","NASCIMENTO"]

for C in colunas_int:
    df_tds[C] = pd.to_numeric(df_tds[C], downcast='unsigned')
    
#OTIMIZAR COLUNAS FLOAT
colunas_float = ["VENCIMENTOS","ENCARGOS","BENEFÍCIOS","OUTRAS REMUNERAÇÕES"]

for C in colunas_float:
    df_tds[C] = pd.to_numeric(df_tds[C], downcast='unsigned')

In [32]:
df_tds.dtypes

EMPRESA                        object
MÊS                             uint8
ANO                            uint16
NOME                           object
CARGO                          object
LOTAÇÃO                        object
ADMISSÃO               datetime64[ns]
NASCIMENTO                     uint16
VENCIMENTOS                   float64
ENCARGOS                      float64
BENEFÍCIOS                    float64
OUTRAS REMUNERAÇÕES           float64
VÍNCULO                        object
DETALHE VÍNCULO                object
LIMINAR                        object
dtype: object

# Exportação para extensão Parquet

In [30]:
#df.to_parquet