# Importando as Bibliotecas

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window as W

# Criando o Spark Session

In [2]:
spark = (SparkSession.builder
        .master("local")
        .appName("Pyspark_RJ")
        .config("spark.ui.port", "4050")
        .getOrCreate()
        )

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
spark

# Extração de dados - Rio de Janeiro

In [4]:
df = spark.read.parquet('gs://projeto_final_2021/pandas_to_parquet/RJ_parquet/df_completo.snappy')

In [5]:
# Visualização do schema e tipo de dados
df.printSchema()

root
 |-- Matrícula: integer (nullable = true)
 |-- Nome: string (nullable = true)
 |-- Data_Admissão: timestamp (nullable = true)
 |-- Cargo: string (nullable = true)
 |-- Unidade: string (nullable = true)
 |-- Local_de_Trabalho: string (nullable = true)
 |-- Número_do_ATO: string (nullable = true)
 |-- Data_Publicação: timestamp (nullable = true)
 |-- Concursado: string (nullable = true)
 |-- Comissionado: string (nullable = true)
 |-- Função_de_Confiança: string (nullable = true)
 |-- Vencimento_Bruto: float (nullable = true)
 |-- Desconto_de_Imposto_IR: float (nullable = true)
 |-- Desconto_Previdenciário: float (nullable = true)
 |-- Outros_Descontos: float (nullable = true)
 |-- Vencimento_Líquido: float (nullable = true)
 |-- Mês: byte (nullable = true)
 |-- ANO: short (nullable = true)
 |-- Tipo_de_Folha: string (nullable = true)
 |-- Regime: string (nullable = true)
 |-- Contratado: string (nullable = true)
 |-- Estado: string (nullable = true)

In [6]:
df.show()

+---------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------+-------------------+----------+------------+-------------------+----------------+----------------------+-----------------------+----------------+------------------+---+----+-------------+--------------------+----------+------+
|Matrícula|                Nome|      Data_Admissão|               Cargo|             Unidade|   Local_de_Trabalho|Número_do_ATO|    Data_Publicação|Concursado|Comissionado|Função_de_Confiança|Vencimento_Bruto|Desconto_de_Imposto_IR|Desconto_Previdenciário|Outros_Descontos|Vencimento_Líquido|Mês| ANO|Tipo_de_Folha|              Regime|Contratado|Estado|
+---------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------+-------------------+----------+------------+-------------------+----------------+----------------------+-----------------------+----------------+------------------+---+----+-------------+--------------------+----------+------+
|    82325|ABEIGAIR DE ALENC...|2009-01-15 00:00:00|    ENFERMEIRO - ESF|SMS - ESF - ESTRA...|Prefeitura Munici...|         0655|2017-10-06 00:00:00|       Não|         Não|                Não|         5975.91|                515.17|                  687.2|          491.93|           4281.61|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    80550|ADAIL JULIO DO NA...|2006-09-23 00:00:00|    GUARDA MUNICIPAL|SMSEG - SM DE SEG...|Prefeitura Munici...|         0252|2006-09-23 00:00:00|       Não|         Não|                Não|         4857.34|                336.21|                 281.79|           225.5|           4013.84|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    85415|ADALBERTO CURVELO...|2017-01-01 00:00:00|SUBSECRETÁRIO DE ...|SMTTOP - SM DE TR...|Prefeitura Munici...|         null|               null|       Não|         Não|                Não|         4572.63|                282.13|                 491.44|             0.0|           3799.06|  8|2021|   1 - Normal|     Agente Político|       Não|    RJ|
|     1731|ADEILTON ALVES DE...|2004-04-03 00:00:00|    GUARDA MUNICIPAL|SMSEG - SM DE SEG...|Prefeitura Munici...|         0075|2004-04-03 00:00:00|       Sim|         Não|                Não|         2446.76|                   0.0|                 295.92|          930.66|           1220.18|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    82491|ADEMILTON DE OLIV...|2009-01-07 00:00:00|  TRABALHADOR BRAÇAL|SMMA - SM DE MEIO...|Prefeitura Munici...|         0370|2009-01-07 00:00:00|       Não|         Não|                Não|         2556.51|                 17.47|                 165.42|          146.64|           2226.98|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    86177|ADERLANE  CRISTIN...|2021-05-24 00:00:00|TECNICO EM ENFERM...|SMS - UNIDADES DE...|Prefeitura Munici...|         null|               null|       Não|         Não|                Não|         1486.35|                   0.0|                 114.04|             0.0|           1372.31|  8|2021|   1 - Normal|Contrato Administ...|       Sim|    RJ|
|      200|ADILSON MACHADO M...|1989-03-04 00:00:00|AUXILIAR DE ARTIFICE|SMOSP - SM DE OBR...|Prefeitura Munici...|     CONTRATO|2014-10-01 00:00:00|       Sim|         Não|                Não|         3069.17|                 60.68|                 291.57|          205.77|           2511.15|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|     1231|ADJANE BASILIO FA...|2000-01-02 00:00:00|         PROFESSOR I|        SME - FUNDEB|Prefeitura Munici...|         4934|2000-01-02 00:00:00|       Sim|         Não|                Não|         3893.92|                110.76|                 536.12|         3064.11|            182.93|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    85440|ADRIANA APARECIDA...|2017-01-01 00:00:00|ASSESSOR DE INTEG...|SMDDH - SM DE DES...|Prefeitura Munici...|         null|               null|       Não|         Sim|                Não|         2144.58|                   0.0|                 170.71|             0.0|           1973.87|  8|2021|   1 - Normal|   Cargo em Comissão|       Não|    RJ|
|     1353|ADRIANA CHAGAS DO...|2000-03-07 00:00:00|CHEFE DO POSTO DE...|SMS - SECRETARIA ...|Prefeitura Munici...|         5174|2000-03-07 00:00:00|       Sim|         Não|                Sim|          3439.8|                 81.31|                 310.56|         1641.44|           1406.49|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    82191|ADRIANA DA CONCEI...|2009-05-01 00:00:00|AUXILIAR ADMINIST...|SMTDIC - TURISMO,...|Prefeitura Munici...|         0884|2009-05-01 00:00:00|       Não|         Não|                Não|          4537.4|                143.08|                 270.58|         1215.86|           2907.88|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|     1351|ADRIANA DE CARVAL...|2000-06-19 00:00:00|         PROFESSOR I|        SME - FUNDEB|Prefeitura Munici...|         5154|2000-06-29 00:00:00|       Sim|         Não|                Não|         3893.92|                110.76|                 536.12|          326.33|           2920.71|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    82929|ADRIANA DE JESUS ...|2011-04-04 00:00:00|          MERENDEIRA|SME - SM DE EDUCAÇÃO|Prefeitura Munici...|        POSSE|2011-04-04 00:00:00|       Não|         Não|                Não|         1235.28|                   0.0|                 163.91|          538.93|            532.44|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    82304|ADRIANA DRUMMOND ...|2009-05-01 00:00:00|CHEFE DA SEÇÃO DE...|SMS - VS - VIGILÂ...|Prefeitura Munici...|     CONTRATO|2017-10-06 00:00:00|       Não|         Não|                Sim|         6448.93|                697.39|                  687.2|             0.0|           5064.34|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    85632|ADRIANA FERREIRA ...|2017-03-04 00:00:00|AUXILIAR DE SERVI...|SMDDH - SM DE DES...|Prefeitura Munici...|         null|               null|       Não|         Não|                Não|         1170.83|                   0.0|                 154.89|          782.53|            233.41|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    85821|ADRIANA MARIA ROD...|2019-01-02 00:00:00|SERVIDOR CEDIDO O...|SME - SM DE EDUCAÇÃO|Prefeitura Munici...|         null|               null|       Não|         Não|                Não|          743.13|                   0.0|                    0.0|             0.0|            743.13|  8|2021|   1 - Normal|Servidor Cedido o...|       Não|    RJ|
|    85769|ADRIANA MARLEY FE...|2018-01-08 00:00:00|AGENTE COMUNITARI...|SMS - ACS - AGENT...|Prefeitura Munici...|         null|               null|       Não|         Não|                Não|          2639.2|                 38.65|                 219.74|           15.54|           2365.27|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|     1055|ADRIANA OLIVEIRA ...|1998-01-07 00:00:00|         PROFESSOR I|        SME - FUNDEB|Prefeitura Munici...|         4372|1998-01-07 00:00:00|       Sim|         Não|                Não|         3608.68|                339.13|                 496.19|         2528.49|            244.87|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    83074|ADRIANA OLIVEIRA ...|2011-09-15 00:00:00|         PROFESSOR I|        SME - FUNDEB|Prefeitura Munici...|         0331|2011-09-15 00:00:00|       Não|         Não|                Não|         3064.35|                287.05|                 419.98|         1649.14|            708.18|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    86100|ADRIANA PINTO DE ...|2021-01-01 00:00:00|SECRETÁRIO DE PLA...|SECRETARIA DE PLA...|Prefeitura Munici...|         null|               null|       Não|         Não|                Não|         9271.99|               1473.64|                 751.97|             0.0|           7046.38|  8|2021|   1 - Normal|     Agente Político|       Não|    RJ|
+---------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------+-------------------+----------+------------+-------------------+----------------+----------------------+-----------------------+----------------+------------------+---+----+-------------+--------------------+----------+------+
only showing top 20 rows

In [7]:
#verificar nomes das colunas 
df.schema.names

['Matrícula',
 'Nome',
 'Data_Admissão',
 'Cargo',
 'Unidade',
 'Local_de_Trabalho',
 'Número_do_ATO',
 'Data_Publicação',
 'Concursado',
 'Comissionado',
 'Função_de_Confiança',
 'Vencimento_Bruto',
 'Desconto_de_Imposto_IR',
 'Desconto_Previdenciário',
 'Outros_Descontos',
 'Vencimento_Líquido',
 'Mês',
 'ANO',
 'Tipo_de_Folha',
 'Regime',
 'Contratado',
 'Estado']

In [8]:
#Alterar nome da coluna
df = (df.withColumnRenamed('Mês', 'mes')
  .withColumnRenamed('ANO', 'ano')
  .withColumnRenamed('Cargo', 'cargo')
  .withColumnRenamed('Vencimento_Bruto', 'salarioBruto')
  .withColumnRenamed('Vencimento_Líquido', 'salarioLiquido')
  .withColumnRenamed('Estado', 'estado')
  .withColumnRenamed('Contratado', 'contratado')
  .withColumnRenamed('Nome', 'nome')

)
df.show()

+---------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------+-------------------+----------+------------+-------------------+------------+----------------------+-----------------------+----------------+--------------+---+----+-------------+--------------------+----------+------+
|Matrícula|                nome|      Data_Admissão|               cargo|             Unidade|   Local_de_Trabalho|Número_do_ATO|    Data_Publicação|Concursado|Comissionado|Função_de_Confiança|salarioBruto|Desconto_de_Imposto_IR|Desconto_Previdenciário|Outros_Descontos|salarioLiquido|mes| ano|Tipo_de_Folha|              Regime|contratado|estado|
+---------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------+-------------------+----------+------------+-------------------+------------+----------------------+-----------------------+----------------+--------------+---+----+-------------+--------------------+----------+------+
|    82325|ABEIGAIR DE ALENC...|2009-01-15 00:00:00|    ENFERMEIRO - ESF|SMS - ESF - ESTRA...|Prefeitura Munici...|         0655|2017-10-06 00:00:00|       Não|         Não|                Não|     5975.91|                515.17|                  687.2|          491.93|       4281.61|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    80550|ADAIL JULIO DO NA...|2006-09-23 00:00:00|    GUARDA MUNICIPAL|SMSEG - SM DE SEG...|Prefeitura Munici...|         0252|2006-09-23 00:00:00|       Não|         Não|                Não|     4857.34|                336.21|                 281.79|           225.5|       4013.84|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    85415|ADALBERTO CURVELO...|2017-01-01 00:00:00|SUBSECRETÁRIO DE ...|SMTTOP - SM DE TR...|Prefeitura Munici...|         null|               null|       Não|         Não|                Não|     4572.63|                282.13|                 491.44|             0.0|       3799.06|  8|2021|   1 - Normal|     Agente Político|       Não|    RJ|
|     1731|ADEILTON ALVES DE...|2004-04-03 00:00:00|    GUARDA MUNICIPAL|SMSEG - SM DE SEG...|Prefeitura Munici...|         0075|2004-04-03 00:00:00|       Sim|         Não|                Não|     2446.76|                   0.0|                 295.92|          930.66|       1220.18|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    82491|ADEMILTON DE OLIV...|2009-01-07 00:00:00|  TRABALHADOR BRAÇAL|SMMA - SM DE MEIO...|Prefeitura Munici...|         0370|2009-01-07 00:00:00|       Não|         Não|                Não|     2556.51|                 17.47|                 165.42|          146.64|       2226.98|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    86177|ADERLANE  CRISTIN...|2021-05-24 00:00:00|TECNICO EM ENFERM...|SMS - UNIDADES DE...|Prefeitura Munici...|         null|               null|       Não|         Não|                Não|     1486.35|                   0.0|                 114.04|             0.0|       1372.31|  8|2021|   1 - Normal|Contrato Administ...|       Sim|    RJ|
|      200|ADILSON MACHADO M...|1989-03-04 00:00:00|AUXILIAR DE ARTIFICE|SMOSP - SM DE OBR...|Prefeitura Munici...|     CONTRATO|2014-10-01 00:00:00|       Sim|         Não|                Não|     3069.17|                 60.68|                 291.57|          205.77|       2511.15|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|     1231|ADJANE BASILIO FA...|2000-01-02 00:00:00|         PROFESSOR I|        SME - FUNDEB|Prefeitura Munici...|         4934|2000-01-02 00:00:00|       Sim|         Não|                Não|     3893.92|                110.76|                 536.12|         3064.11|        182.93|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    85440|ADRIANA APARECIDA...|2017-01-01 00:00:00|ASSESSOR DE INTEG...|SMDDH - SM DE DES...|Prefeitura Munici...|         null|               null|       Não|         Sim|                Não|     2144.58|                   0.0|                 170.71|             0.0|       1973.87|  8|2021|   1 - Normal|   Cargo em Comissão|       Não|    RJ|
|     1353|ADRIANA CHAGAS DO...|2000-03-07 00:00:00|CHEFE DO POSTO DE...|SMS - SECRETARIA ...|Prefeitura Munici...|         5174|2000-03-07 00:00:00|       Sim|         Não|                Sim|      3439.8|                 81.31|                 310.56|         1641.44|       1406.49|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    82191|ADRIANA DA CONCEI...|2009-05-01 00:00:00|AUXILIAR ADMINIST...|SMTDIC - TURISMO,...|Prefeitura Munici...|         0884|2009-05-01 00:00:00|       Não|         Não|                Não|      4537.4|                143.08|                 270.58|         1215.86|       2907.88|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|     1351|ADRIANA DE CARVAL...|2000-06-19 00:00:00|         PROFESSOR I|        SME - FUNDEB|Prefeitura Munici...|         5154|2000-06-29 00:00:00|       Sim|         Não|                Não|     3893.92|                110.76|                 536.12|          326.33|       2920.71|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    82929|ADRIANA DE JESUS ...|2011-04-04 00:00:00|          MERENDEIRA|SME - SM DE EDUCAÇÃO|Prefeitura Munici...|        POSSE|2011-04-04 00:00:00|       Não|         Não|                Não|     1235.28|                   0.0|                 163.91|          538.93|        532.44|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    82304|ADRIANA DRUMMOND ...|2009-05-01 00:00:00|CHEFE DA SEÇÃO DE...|SMS - VS - VIGILÂ...|Prefeitura Munici...|     CONTRATO|2017-10-06 00:00:00|       Não|         Não|                Sim|     6448.93|                697.39|                  687.2|             0.0|       5064.34|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    85632|ADRIANA FERREIRA ...|2017-03-04 00:00:00|AUXILIAR DE SERVI...|SMDDH - SM DE DES...|Prefeitura Munici...|         null|               null|       Não|         Não|                Não|     1170.83|                   0.0|                 154.89|          782.53|        233.41|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    85821|ADRIANA MARIA ROD...|2019-01-02 00:00:00|SERVIDOR CEDIDO O...|SME - SM DE EDUCAÇÃO|Prefeitura Munici...|         null|               null|       Não|         Não|                Não|      743.13|                   0.0|                    0.0|             0.0|        743.13|  8|2021|   1 - Normal|Servidor Cedido o...|       Não|    RJ|
|    85769|ADRIANA MARLEY FE...|2018-01-08 00:00:00|AGENTE COMUNITARI...|SMS - ACS - AGENT...|Prefeitura Munici...|         null|               null|       Não|         Não|                Não|      2639.2|                 38.65|                 219.74|           15.54|       2365.27|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|     1055|ADRIANA OLIVEIRA ...|1998-01-07 00:00:00|         PROFESSOR I|        SME - FUNDEB|Prefeitura Munici...|         4372|1998-01-07 00:00:00|       Sim|         Não|                Não|     3608.68|                339.13|                 496.19|         2528.49|        244.87|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    83074|ADRIANA OLIVEIRA ...|2011-09-15 00:00:00|         PROFESSOR I|        SME - FUNDEB|Prefeitura Munici...|         0331|2011-09-15 00:00:00|       Não|         Não|                Não|     3064.35|                287.05|                 419.98|         1649.14|        708.18|  8|2021|   1 - Normal|         Estatutário|       Não|    RJ|
|    86100|ADRIANA PINTO DE ...|2021-01-01 00:00:00|SECRETÁRIO DE PLA...|SECRETARIA DE PLA...|Prefeitura Munici...|         null|               null|       Não|         Não|                Não|     9271.99|               1473.64|                 751.97|             0.0|       7046.38|  8|2021|   1 - Normal|     Agente Político|       Não|    RJ|
+---------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------+-------------------+----------+------------+-------------------+------------+----------------------+-----------------------+----------------+--------------+---+----+-------------+--------------------+----------+------+
only showing top 20 rows

In [9]:
# Inclusão de coluna
value = 'ATIVO'

df = df.withColumn('situacao', lit(value).cast('string'))

In [10]:
# Remoção de colunas 

coletar_colunas = {'mes','ano','cargo','situacao','salarioLiquido','nome', 'estado'}

remover_colunas = list(set(df.schema.names).difference(coletar_colunas))

df_rj = df.drop(*remover_colunas)

In [11]:
# Colocar as colunas em ordem correta 
coletar_colunas = ('mes','ano','nome','cargo','situacao','salarioLiquido', 'estado')
df_rj = df_rj.select(*coletar_colunas)

In [12]:
df_rj.show()

+---+----+--------------------+--------------------+--------+--------------+------+
|mes| ano|                nome|               cargo|situacao|salarioLiquido|estado|
+---+----+--------------------+--------------------+--------+--------------+------+
|  8|2021|ABEIGAIR DE ALENC...|    ENFERMEIRO - ESF|   ATIVO|       4281.61|    RJ|
|  8|2021|ADAIL JULIO DO NA...|    GUARDA MUNICIPAL|   ATIVO|       4013.84|    RJ|
|  8|2021|ADALBERTO CURVELO...|SUBSECRETÁRIO DE ...|   ATIVO|       3799.06|    RJ|
|  8|2021|ADEILTON ALVES DE...|    GUARDA MUNICIPAL|   ATIVO|       1220.18|    RJ|
|  8|2021|ADEMILTON DE OLIV...|  TRABALHADOR BRAÇAL|   ATIVO|       2226.98|    RJ|
|  8|2021|ADERLANE  CRISTIN...|TECNICO EM ENFERM...|   ATIVO|       1372.31|    RJ|
|  8|2021|ADILSON MACHADO M...|AUXILIAR DE ARTIFICE|   ATIVO|       2511.15|    RJ|
|  8|2021|ADJANE BASILIO FA...|         PROFESSOR I|   ATIVO|        182.93|    RJ|
|  8|2021|ADRIANA APARECIDA...|ASSESSOR DE INTEG...|   ATIVO|       1973.87|    RJ|
|  8|2021|ADRIANA CHAGAS DO...|CHEFE DO POSTO DE...|   ATIVO|       1406.49|    RJ|
|  8|2021|ADRIANA DA CONCEI...|AUXILIAR ADMINIST...|   ATIVO|       2907.88|    RJ|
|  8|2021|ADRIANA DE CARVAL...|         PROFESSOR I|   ATIVO|       2920.71|    RJ|
|  8|2021|ADRIANA DE JESUS ...|          MERENDEIRA|   ATIVO|        532.44|    RJ|
|  8|2021|ADRIANA DRUMMOND ...|CHEFE DA SEÇÃO DE...|   ATIVO|       5064.34|    RJ|
|  8|2021|ADRIANA FERREIRA ...|AUXILIAR DE SERVI...|   ATIVO|        233.41|    RJ|
|  8|2021|ADRIANA MARIA ROD...|SERVIDOR CEDIDO O...|   ATIVO|        743.13|    RJ|
|  8|2021|ADRIANA MARLEY FE...|AGENTE COMUNITARI...|   ATIVO|       2365.27|    RJ|
|  8|2021|ADRIANA OLIVEIRA ...|         PROFESSOR I|   ATIVO|        244.87|    RJ|
|  8|2021|ADRIANA OLIVEIRA ...|         PROFESSOR I|   ATIVO|        708.18|    RJ|
|  8|2021|ADRIANA PINTO DE ...|SECRETÁRIO DE PLA...|   ATIVO|       7046.38|    RJ|
+---+----+--------------------+--------------------+--------+--------------+------+
only showing top 20 rows

In [13]:
df_rj.filter(df_rj.estado == "RJ").filter(df_rj.ano == 2021).filter(df_rj.mes == 2).show()

+---+----+--------------------+--------------------+--------+--------------+------+
|mes| ano|                nome|               cargo|situacao|salarioLiquido|estado|
+---+----+--------------------+--------------------+--------+--------------+------+
|  2|2021|ABEIGAIR DE ALENC...|    ENFERMEIRO - ESF|   ATIVO|       5672.84|    RJ|
|  2|2021|ADAIL JULIO DO NA...|    GUARDA MUNICIPAL|   ATIVO|        7751.5|    RJ|
|  2|2021|ADALBERTO CURVELO...|SUBSECRETÁRIO DE ...|   ATIVO|       3799.06|    RJ|
|  2|2021|ADEILTON ALVES DE...|    GUARDA MUNICIPAL|   ATIVO|       1980.26|    RJ|
|  2|2021|ADEMILTON DE OLIV...|  TRABALHADOR BRAÇAL|   ATIVO|       1986.65|    RJ|
|  2|2021|ADILSON MACHADO M...|AUXILIAR DE ARTIFICE|   ATIVO|       3046.69|    RJ|
|  2|2021|ADJANE BASILIO FA...|         PROFESSOR I|   ATIVO|       1172.24|    RJ|
|  2|2021|ADRIANA APARECIDA...|AUXILIAR OPERACIO...|   ATIVO|        1696.2|    RJ|
|  2|2021|ADRIANA CHAGAS DO...|AUXILIAR DE ENFER...|   ATIVO|       1772.16|    RJ|
|  2|2021|ADRIANA DA CONCEI...|AUXILIAR ADMINIST...|   ATIVO|       1902.47|    RJ|
|  2|2021|ADRIANA DE CARVAL...|         PROFESSOR I|   ATIVO|       2920.71|    RJ|
|  2|2021|ADRIANA DE JESUS ...|          MERENDEIRA|   ATIVO|        499.31|    RJ|
|  2|2021|ADRIANA DRUMMOND ...|MEDICO VETERINARI...|   ATIVO|        7192.5|    RJ|
|  2|2021|ADRIANA FERREIRA ...|AUXILIAR DE SERVI...|   ATIVO|        637.84|    RJ|
|  2|2021|ADRIANA MARIA DA ...|ASSESSOR EXECUTIV...|   ATIVO|       2035.93|    RJ|
|  2|2021|ADRIANA MARIA ROD...|SERVIDOR CEDIDO O...|   ATIVO|        743.13|    RJ|
|  2|2021|ADRIANA MARLEY FE...|AGENTE COMUNITARI...|   ATIVO|       1613.62|    RJ|
|  2|2021|ADRIANA OLIVEIRA ...|         PROFESSOR I|   ATIVO|        698.28|    RJ|
|  2|2021|ADRIANA OLIVEIRA ...|         PROFESSOR I|   ATIVO|          5.83|    RJ|
|  2|2021|ADRIANA PINTO DE ...|SECRETÁRIO DE PLA...|   ATIVO|       7046.38|    RJ|
+---+----+--------------------+--------------------+--------+--------------+------+
only showing top 20 rows

In [14]:
#Salvar dados 
(df_rj.write.format("parquet")
.option("header", "true")
.option("inferschema", "true")
.save("gs://projeto_final_2021/parquet_to_bq/RJ")
)

AnalysisException: path gs://projeto_final_2021/parquet_to_bq/RJ already exists.

In [ ]:
df.filter(df.estado == "RJ").filter(df.ano == 2021).filter(df.mes == 2).show()